<style>

    body{ font-family: arial;}
    input{   margin:5px 0; }
    .error-msg{color:purple;}
    .success-msg{color:green;}
    
</style>

<h2>Админка</h2>

<% if (success_message) { %>    
    <p class="success-msg"><%= success_message %></p>
<% } %>    

<% if (error_message) { %>    
    <p class="error-msg"><%= error_message %></p>
<% } %>  

<% if (!user) { %>    
    <p>Пожалуйста, <a href="/api/user/login"> авторизуйтесь </a></p>
    <p>или перейдите на <a href="/">главную</a></p>
    
<% } else { %>
    <p>Привет, <%= user.username %>. </p>
    <p>Перейти в <a href="/api/user/me">профиль</a>.</p>
    
<% } %>